/* utils */
@import url('./utils/reset.css');
@import url('./utils/variables.css');

/* components */

/* pages */
@import url('./pages/Login.css');

html {
    background-color: var(--color-background);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--color-text-primary);
}